extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    if(role.permission.includes("roles_permission"))

        +alert-success(3000)

        h1(class="mb-4") Nhóm quyền

        .card.mb-3
            .card-header Danh sách
            .card-body
                .row
                    .col-8
                    .col-4.text-right
                        a(
                            href=`/${prefixAdmin}/role/create`
                            class="btn btn-outline-success"
                        ) + Thêm mới

        table(
            class="table table-hover table-sm"
        )
            thead
                tr
                    th STT
                    th Nhóm quyền
                    th Mô tả ngắn
                    th Hành động

            tbody
                if(records.length > 0)
                    each item, index in records
                        tr
                            td #{index + 1}
                            td #{item.title}
                            td #{item.description}
                            td
                                a(
                                    class="btn btn-secondary btn-sm"
                                    href=`/${prefixAdmin}/role/detail/${item.id}`
                                ) Chi tiết
                                a(
                                    class="btn btn-warning btn-sm ml-1"
                                    href=`/${prefixAdmin}/role/edit/${item.id}`
                                ) Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                ) Xóa
                    else
                        tr
                        td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.