extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)

    h1(class="mb-4") Phân quyền

    div(class="text-right")
        button(
          type="submit"
          class="btn btn-primary mb-3"
          button-submit
        ) Update

    div(data-record=records)

    table(
       class="table table-hover table-sm"
       table-permissions
    )
        thead
          tr
            th Features
            each item in records
              th(class="text-center") #{item.title}
        tbody
          tr(data-name="id" class="d-none")
            td
            each item in records
              td(class="text-center")
                input(type="text" value=item.id)

          //- Category Product
          tr
            td(colspan="4")
              b Products Categoty 
          tr(data-name="products-category_view")
            td View
            each item in records
                td(class="text-center")
                  input(type="checkbox")
          tr(data-name="products-category_create")
            td Add new
            each item in records
                td(class="text-center")
                    input(type="checkbox")
          tr(data-name="products-category_edit")
            td Edit
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="products-category_delete")
            td Delete
            each item in records
              td(class="text-center")
                input(type="checkbox")
            
          //- Product
          tr
            td(colspan="4")
              b Products
          tr(data-name="products_view")
            td View
            each item in records
                td(class="text-center")
                  input(type="checkbox")
          tr(data-name="products_create")
            td Add new
            each item in records
                td(class="text-center")
                    input(type="checkbox")
          tr(data-name="products_edit")
            td Edit
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="products_delete")
            td Delete
            each item in records
              td(class="text-center")
                input(type="checkbox")
          
          //- Nhóm quyền
          tr
            td(colspan="4")
              b Group Roles
          tr(data-name="roles_view")
            td View
            each item in records
                td(class="text-center")
                  input(type="checkbox")
          tr(data-name="roles_create")
            td Add new
            each item in records
                td(class="text-center")
                    input(type="checkbox")
          tr(data-name="roles_edit")
            td Edit
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="roles_delete")
            td Delete
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="roles_permission")
            td Role
            each item in records
              td(class="text-center")
                input(type="checkbox")

          //-Account
          tr
            td(colspan="4")
              b Account
          tr(data-name="account_view")
            td View
            each item in records
                td(class="text-center")
                  input(type="checkbox")
          tr(data-name="account_create")
            td Add new
            each item in records
                td(class="text-center")
                    input(type="checkbox")
          tr(data-name="account_edit")
            td Edit
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="account_delete")
            td Delete
            each item in records
              td(class="text-center")
                input(type="checkbox")


    form(
        id="form-change-permission"
        method="POST"
        action=`/${prefixAdmin}/role/permission?_method=PATCH`
    )
      div(class="form-group")
        input(
          class="d-none"
          type="text"
          class="form-control"
          name="permission"
        )


    script(src="/admin/js/role.js")