
extends ../../Layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .container.my-3
    .row
      .col-12
        +box-head("Order success!")
    .row 
        .col-12 
            div(class="alert alert-success")
                | You have placed an order successfully, we will process your order as soon as possible.
            
    if(order)
        .row 
            .col-12 
                h4(class="mb-2") Information
                table(class="table table-bordered")
                    tbody   
                        tr 
                            td Full name: 
                            td 
                                b #{order.userInfo.fullName}
                        tr 
                            td Phone: 
                            td 
                                b #{order.userInfo.phone}
                        tr 
                            td Address: 
                            td 
                                b #{order.userInfo.address}

    .row 
        .col-12 
          h4(class='mb-2') Order Information
          table(class='table table-bordered')   
            thead 
              tr 
                th No 
                th Image 
                th Title 
                th Price
                th Quantity 
                th Total price 
            tbody 
              if(order.products.length > 0)
                each item, index in order.products 
                    tr 
                        td #{index +1}
                        td 
                            img(src=item.productInfo.thumbnail alt=item.productInfo.title  width="80px")
                        td #{item.productInfo.title}
                        td #{item.price}$
                        td #{item.quantity}
                        td #{item.totalPrice}$

        if(order.products.length > 0)
            h3(class="text-right") Total Price: #{order.totalPrice}$

                