extends ../../Layout/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row 
      .col-12
        +box-head('Chat')
    
    .row
      .col-12 
        .chat(my-id=user.id)
          .inner-body
            each chat in chats 
              div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                if(chat.infoUser.id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                if(chat.content)
                  .inner-content 
                    | #{chat.content}
                if(chat.images)
                  .inner-images 
                    each item in chat.images
                      img(src=item, alt="image", width="300px")         
            div(class="inner-list-typing")

          .inner-preview-images 
            div(class="custom-file-container" data-upload-id="upload-image")

           
          .inner-foot 
            form(
                class="inner-form"
                action=""
            )
              input(
                type="text"
                placeholder="Message..."
                name="content"
              )

              label(
                for="file-upload-with-preview-upload-image"
                class="btn btn-light mx-2 mb-0"  
              ) 
                <i class="fa-regular fa-image"></i>

              span(class="button-icon btn btn-light") 
                i.fa-regular.fa-face-smile
              button 
                i.fa-solid.fa-paper-plane
          
    div(class="tooltip" role="tooltip")
      emoji-picker

    


