mixin changeMultil(path)
    form(
        form-change-multi
        action=path
        method="POST"
    ) 
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(value="active") Active
                    option(value="inactive") Inactive
                    option(value="change-position") Change Position
                    option(value="deleted") Delete All
            .form-group
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Update