mixin search(keyword)
    form(id="form-search")
        .input-group
            input(
                type="text"
                placeholder="Search product,.."
                name="keyword"
                class="form-control"
                value= keyword
            )
            .input-group-append
                button(
                class="btn btn-success"
                type="submit"
                ) Search