extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree-cate.pug

block main


  h1(class="mb-4") Chỉnh sửa danh mục sản phẩm

  form(
    action=`/${prefixAdmin}/category/edit/${data.id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        value=data.title
        required
      )
    div(class="form-group")
      label(for="title") Danh mục cha
      select(
        name="parent_id"
        id="parent_id"
        class="form-control"
      )
        option(value="") --Chọn danh mục cha--
          +select-tree(records, 1,  data.parent_id)

    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        rows="5"
      ) #{data.description}
    
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=data.thumbnail
        class="image-preview"
        upload-image-preview
      )

    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
        value=data.position

      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked = (data.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked = (data.status == "active" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật
  

//- script(src="/admin/js/script.js")
