mixin product-item(product)
    each item in product 
        .col-4.mb-3 
            .product-item 
                .inner-item 
                    img(src=item.thumbnail, alt=item.title)
                    if(item.featured == "1")
                        .inner-featured ★
                .inner-content 
                    h3.inner-title 
                        a(href=`/products/detail/${item.slug}`) #{item.title}
                    .inner-price-new #{item.priceNew}$
                    .inner-price-old #{item.price}$
                    .inner-discount #{item.discountPercentage}%
        