extends ../../Layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(4000)
    .product-detail 
        .container.my-5 
            .row 
                .col-6 
                    .inner-thumb 
                        img(
                            class="ml-4 mb-4 rounded-sm"
                            src=product.thumbnail
                            style="width: 200px"
                        )
                .col-6 
                    h1(class="inner-title") #{product.title}

                    if (product.category)
                        div(class="inner-category")
                        span Category: 
                        a(href=`/products/${product.category.slug}`) #{product.category.title}

                    if (product.priceNew)
                        div(class="inner-price-new") #{product.priceNew}$ 

                    //- if (product.price)
                    //-     div(class="inner-price-old") #{product.price}$

                    if (product.discountPercentage)
                        div(class="inner-percent") Sale off to <span>#{product.discountPercentage}%</span>

                    if (product.stock)
                        div(class="inner-stock") Stock: <span>#{product.stock}</span> products

                    form(
                        action=`/cart/add/${product.id}`
                        method="POST"
                    )
                        input(
                        class="form-control mb-2"
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        max=product.stock
                        )
                        button(
                        type="submit"
                        class="btn btn-success btn-block"
                        ) Add to cart

                hr

                .container.my-5
                .row
                    .col-12
                    +box-head("Product description")
                    .inner-desc !{product.description}


                