extends ../../Layout/default.pug 
include ../../mixins/box-head.pug
block main
  .container.my-3
    .row
      .col-12
        .box-head
          +box-head("Danh sách sản phẩm")
    //- tu product.controller
    .row
      each item in products 
        .col-4.mb-3
          .product-item
            .inner-image
              img(src=item.thumbnail, alt=item.title)
            .inner-content
              a(
                href=`/products/detail/${item.slug}`
                style="text-decoration:none; color: black"
                )
                h3.inner-title #{item.title}
                .inner-price-new #{item.priceNew}$
                .inner-price-old #{item.price}$
                .inner-discount -#{item.discountPercentage}%

            