extends ../../Layout/default.pug
include ../../mixins/alert.pug

block main

    +alert-success(4000)
    +alert-error(4000)
    
    .container.my-5   
    .row.justify-content-center 
      .col-8 
        h1(class='text-center') Password Retrieval
        form(
          action='/user/password/forgot'
          method='POST'
        ) 

          div(class='form-group')
            label(for='email') Email
            input(
              type='email'
              class='form-control'
              id='email'
              name='email'
              required
            )
          div(class='form-group')
            button(
              type='submit'
              class='btn btn-primary btn-block'
            ) Send confirmation email  