extends ../../Layout/default.pug
include ../../mixins/alert.pug

block main

  +alert-success(4000)
  +alert-error(4000)

  .container.my-5   
    .row.justify-content-center 
      .col-8 
        h1(class='text-center')  OTP Authencation 
        form(
          action='/user/password/otp'
          method='POST'
        ) 
          div(class='form-group')
            label(for='email') Email
            input(
              type='email'
              class='form-control'
              id='email'
              name='email'
              required
            )
          div(class='form-group')
            label(for='otp') OTP
            input(
              type='text'
              class='form-control'
              id='otp'
              name='otp'
              required
            )
          div(class='form-group')
            button(
              type='submit'
              class='btn btn-primary btn-block'
            ) Submit
