extends ../../Layout/default.pug
include ../../mixins/alert.pug

block main

  +alert-success(4000)
  +alert-error(4000)

  .container.my-5   
    .row.justify-content-center 
      .col-8 
        h1(class='text-center') Change password 
        form(
          action='/user/password/reset'
          method='POST'
        ) 
          ddiv(class='form-group')
            label(for='password') New password
            input(
              type='password'
              class='form-control'
              id='password'
              name='password'
              required
            )
          div(class='form-group')
            label(for='confirmPassword') Confirm password
            input(
              type='password'
              class='form-control'
              id='confirmPassword'
              name='confirmPassword'
              required
            )
          div(class='form-group')
            button(
              type='submit'
              class='btn btn-primary btn-block'
            ) Change password 

